<div data-ng-controller="searchBarCtrl" >
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <HR COLOR="lightgray" SIZE="1">
   </div>
   <div class="container-fluid" style="margin-top: -21px;">
      <div class="row" data-ng-controller="searchBarCtrl" style="background-color: #EEEEEE; padding-top: 20px; padding-bottom: 20px;">
         <div class="col-sm-2">
            <label>Suggestion Type</label>
            <select class="form-control" data-ng-model="suggestionType" data-ng-change="feedback=''" value="MOVIE SUGGESTION">
               <option value="MOVIE SUGGESTION">MOVIE SUGGESTION</option>
               <option value="TOPIC SUGGESTION">TOPIC SUGGESTION</option>
               <option value="GENERAL FEEDBACK">GENERAL FEEDBACK</option>
            </select>
            
         </div>
         <div data-ng-show="suggestionType!='MOVIE SUGGESTION'" class="col-sm-4">
            <label>Suggestion</label><br />
            <input id="txtFeedback" placeholder="{{suggestionType}}" type="text" data-ng-model="suggestion" class="form-control" />
         </div>
         <div data-ng-hide="suggestionType!='MOVIE SUGGESTION'" class="col-sm-8">
              <div class="row">
                     <div class="col-sm-4">
                        <label>Name:</label><br />
                        <input placeholder="Enter NAME of Flix e.g. LINCOLN" type="text" data-ng-model="entryName" class="form-control" />
                     </div>
                     <div class="col-sm-4">
                        <label>Link:</label><br />
                        <input placeholder="Enter URL to Flix e.g. http://..." type="text" data-ng-model="entryLink" class="form-control" />
                     </div>
                     <div class="col-sm-4">
                        <label>Topics:</label><br />
                        <select multiple data-ng-multiple="true" style="height: 100%;width: 100%;" name="selected" data-ng-model="selectedSubjectNames" data-ng-change="">
                            <option data-ng-repeat="flixSubject in flixSubjects" value="{{flixSubject.name}}">{{flixSubject.name}}</option>
                        </select>
                    </div>
                  </div>
         </div>         
         <div class="col-sm-2">
            </br>
            <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
            <button type="button"
               class="btn btn-danger btn-block"
               data-ng-click="btnSuggestionClick()">
            Submit
            </button>
         </div>
      </div>
   </div>
</div>