<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Flix Admin Console</title>
   </head>
   <body>
      <!-- main container -->
      <div id="container" ng-controller="amazonCtrl">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
               <input class="form-control" type="text" data-ng-model="search">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
               <button type="button"
                  class="btn btn-primary btn-block"
                  ng-click="getAmazonCustomData(search)"
                  id="btnFindImages">
               CUSTOM SEARCH
               </button>  
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
               <button type="button"
                  class="btn btn-primary btn-block"
                  ng-click="getAmazonData()"
                  id="btnFindImages">
               SEARCH AMAZON
               </button>  
            </div>
         </div>
         <br />
         <div class="row" style="color: #fff;overflow:scroll; height:600px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div data-ng-repeat="amazon in amazons">
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">          
                        <img ng-model="coverArt" ng-click="sendImage(amazon.image_url)" style='width:75%;height:75%;' data-ng-src="{{amazon.image_url;}}">
                     </div>
                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
                           <button type="button"
                              class ="btn btn-primary btn-block"
                              ng-click="linkAmazon(amazon.amazon_url,5)"
                              id="btnFindImages">
                           LINK TO AMAZON VIDEO
                           </button>  
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
                           <button type="button"
                              class ="btn btn-primary btn-block"
                              ng-click="linkAmazon(amazon.amazon_url,14)"
                              id="btnFindImages">
                           LINK TO AMAZON PRODUCT
                           </button>  
                        </div>
                        <br />
                        <br />
                        <br />
                        <a ng-href="{{amazon.amazon_url}}" target="_blank"> {{amazon.amazon_id}}</a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <b><u>Product Group:</b></u>
                        &nbsp;&nbsp;
                        <p style="display: inline-block;">{{amazon.product_group}}</p>
                        <br>
                        <b><u><a href="" ng-click="sendActors(amazon.actor)">Actors:</a></b></u>
                        &nbsp;&nbsp;
                        <p style="display: inline-block;">{{amazon.actor}}</p>
                        <br>                        
                        <b><u><a href="" ng-click="sendDirectors(amazon.director)">Directors:</a></b></u>
                        &nbsp;&nbsp;
                        <p style="display: inline-block;">{{amazon.director}}</p>
                        <br>
                        <b><u><a href="" ng-click="sendRating(amazon.audiencerating)">Rating:</a></b></u>
                        &nbsp;&nbsp;
                        <p style="display: inline-block;">{{amazon.audiencerating}}</p>
                        <br>
                        <b><u><a href="" ng-click="sendContent(amazon.editorialreview)">Description:</a></b></u>
                        &nbsp;&nbsp;
                        <p style="display: inline-block;">
                        <p>{{amazon.editorialreview}}</p>
                        <br />
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <HR COLOR="lightgray" SIZE="1">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
