<!DOCTYPE html>
<html id="wrapper" ng-app="app">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="css/tabmenu.css">
      <title>Flix Admin Console</title>
   </head>
   <body id="wrapper">
      <!-- main container -->
      <div id="container">
      <div data-ng-controller="flixMovieCtrl">
         <div class="container-fluid">
            <div class="row row-table" style="background-color: #EEEEEE; padding-top: 20px; padding-bottom: 20px;">
               <div class="visible-xs-block visible-sm-block">
                  <div align="center">
                     <b><u><font size="+2" color="black">FLIX MOVIE SEARCH</font></u></b>
                  </div>
               </div>
               <div class="visible-md-block visible-lg-block">
                  <div align="center"><br />
                     <b><u><font size="+2" color="black">FLIX MOVIE SEARCH</font></u></b>
                  </div>
               </div>
               <div class="col-sm-3">
                  <label>Filter</label><br />                                         
                  <select class="form-control" name="selected" ng-model="selectedFilter" ng-change="" ng-init="selectedFilter=1">
                     <option value="1">MANUAL SEARCH</option>
                     <option value="2">ALL MOVIES</option>
                     <option value="3">MISSING LINKS</option>
                     <option value="4">MISSING TOPICS</option>
                     <option value="5">MISSING COVER ART</option>
                     <option value="6">MISSING DESCRIPTION</option>
                     <option value="7">UN-APPROVED SUGGESTIONS</option>
                     <option value="8">DUPLICATE SUGGESTIONS</option>
                  </select>
               </div>
               <div class="col-sm-3" ng-show="selectedFilter==1">
                  <label>Search</label><br />
                  <input class="form-control" type="text" ng-model="flixSearch">
               </div>
               <div class="col-sm-2 td-bottom">
                  <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
                  <button type="button"
                     class="btn btn-danger btn-block"
                     ng-click="searchMovies()"
                     id="btnFindFlix">
                  Find Flix
                  </button>
               </div>
               <div class="col-sm-2 td-bottom"  ng-hide="showRight">
                  <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
                  <button type="button"
                     ng-hide="showRight"
                     class="btn btn-danger btn-block"
                     ng-click="movieTitleClick({product_id:-1, title:flixSearch})"
                     id="btnFindFlix">
                        NEW
                  </button>
               </div>
            </div>
         </div>
         <div id="resultsHeader" class="row" ng-show="showLeft && movies.length > 0">
            <div class="col-xs-12">
               <h2><font color="lightgray">{{movies.length}} FLIX FOUND</font></h2>
               <HR COLOR="lightgray" SIZE="2">
            </div>
         </div>
         <div ng-show="isSearching" ng-init="isSearching=false;" style="z-index: 2550; position: fixed; margin: 0; padding: 0; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.7); text-align: center;">
            <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
            <img src="/public/images/ajax-loader.gif" alt="Loading..." />
         </div>
         <div id="startingPoint"></div>
         <div class="row">
            <div ng-show="showLeft"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <!-- START SCROLL-->
               <div style="overflow:scroll; height:2000px;">
                  <div ng-repeat="movie in movies | orderBy:'title' track by $index" ng-init="index=$index"
                     bn-log-dom-creation="with">
                     <div class="row">
                        <div class="visible-xs-block">
                           <div class="col-xs-12" align="center">
                              <font size="+2"><b><u><a href="" ng-click="movieTitleClick(movie)" style="color: #c4e0e3;">{{movie.title}}</a></u></b></font>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" align="center">
                           <img ng-click="movieTitleClick(movie)" style="height:75%;width:75%;padding:10px;" data-ng-src="{{getMovieImage(movie)}}">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" align="left" ng-show="movie.movie_link!=null" >
                           <font><b><u><a href="" ng-click="movieTitleClick(movie)" style="color: #c4e0e3;padding: 8px;">{{movie.movie_link}}</a></u></b></font>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" align="left">
                           <div class="visible-sm-block visible-md-block visible-lg">
                              <font size="+2"><b><u><a href="" ng-click="movieTitleClick(movie)" style="color: #c4e0e3;">{{movie.title}}</a></u></b></font>
                           </div>
                           <font color="white">{{movie.description}}</font>                                   
                        </div>
                        <br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                           <HR COLOR="gray" SIZE="5">
                        </div>
                     </div>
                  </div>
               </div>
               <!--END SCROLL-->
            </div>
         </div>
         <!--RIGHT SIDE-->
         <div id="wrapper" style="margin-left: -10px;width: 110%" ng-show="showRight" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="wrapper" class="row">
               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" align="center" style="border-style: solid;border-color: rgba(225, 225, 225, 0.27);border-width: 1px;">
                  <div style="overflow:scroll; height:600px;">
                     <div style="padding: 8px;" ng-show="1" ng-include="'flix_movie_tab_details.html'"></div>
                  </div>
               </div>
               <!--TAB-->
               <div id="wrapper"class="col-lg-8 col-md-8 col-sm-8 col-xs-12" align="left">
                  
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <u>
                  <b>
                     <h2 ng-click="toggleView()" align="center"><font color="lightgray">{{movie.title}}</font></h2>
                  </b>
               </u>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                  <HR COLOR="gray" SIZE="5">
               </div>
            </div>
                   
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div ng-repeat="tab in tabs">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                           <a style="padding: 8px;" ng-click="selectTab(tab)"><font color="white">{{tab.title}}</font></a>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
                        <HR COLOR="gray" SIZE="5">
                     </div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_topics.html')">
                     <div ng-include="'flix_movie_tab_topics.html'"></div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_vendors.html')">
                     <div ng-include="'flix_movie_tab_vendors.html'"></div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_google_images.html')">
                     <div ng-include="'flix_movie_tab_google_images.html'"></div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_amazon.html')">
                     <div ng-include="'flix_movie_tab_amazon.html'"></div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_omdb.html')">
                     <div ng-include="'flix_movie_tab_omdb.html'"></div>
                  </div>
                  <div ng-show="isSelected('flix_movie_tab_youtube.html')">
                     <div ng-include="'flix_movie_tab_youtube.html'"></div>
                  </div>
               </div>
               <!-- TAB END --> 
            </div>
         </div>
      </div>
   </body>
</html>