<!doctype html>
<html ng-app="app">
   <head></head>
   <body data-ng-controller="flixMovieCtrl">
      <div style="display: block;color: #d4d4d4;" align="left">
         
         <input type="checkbox" ng-model="imageChecked" ng-show="0">
         <input type="checkbox" ng-model="titleChecked" ng-show="0">
         <input type="checkbox" ng-model="yearChecked" ng-show="0">
         <input type="checkbox" ng-model="ratedChecked" ng-show="0">
         <input type="checkbox" ng-model="releasedChecked" ng-show="0">
         <input type="checkbox" ng-model="runtimeChecked" ng-show="0">
         <input type="checkbox" ng-model="genreChecked" ng-show="0">
         <input type="checkbox" ng-model="directorChecked" ng-show="0">
         <input type="checkbox" ng-model="writerChecked" ng-show="0">
         <input type="checkbox" ng-model="actorsChecked" ng-show="0">
         <input type="checkbox" ng-model="plotChecked" ng-show="0">
         <input type="checkbox" ng-model="languageChecked" ng-show="0">
         <input type="checkbox" ng-model="countryChecked" ng-show="0">
         <input type="checkbox" ng-model="awardsChecked" ng-show="0">
         <input type="checkbox" ng-model="posterChecked" ng-show="0">
         <input type="checkbox" ng-model="metascoreChecked" ng-show="0">
         <input type="checkbox" ng-model="imdbratingChecked" ng-show="0">
         <input type="checkbox" ng-model="imdbvotesChecked" ng-show="0">
         <input type="checkbox" ng-model="imdbidChecked" ng-show="0">
         <input type="checkbox" ng-model="typeChecked" ng-show="0">
         <input type="checkbox" ng-model="suggestedByChecked" ng-show="0">          
         <input type="checkbox" ng-model="movie_linkChecked" ng-show="0">
         
         <img align="middle" style="height:75%;width:75%;padding: 8px;" data-ng-src="{{getMovieImage(movie)}}">

         <br><b><u><a href="" ng-model="titleChecked" ng-click="titleChecked=!titleChecked">Title:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="titleChecked">{{movie.title}}</p>
         <input type="text" ng-model="movie.title" ng-show="titleChecked"/>

         <br><b><u><a href="" ng-model="imageChecked" ng-click="imageChecked=!imageChecked">Image:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="imageChecked">{{movie.product_image}}</p>
         <input type="text" ng-model="movie.product_image" ng-show="imageChecked"/>

         <br><b><u><a href="" ng-model="yearChecked" ng-click="yearChecked=!yearChecked">Year:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="yearChecked">{{movie.release_year}}</p>
         <input class="form-control" type="text" ng-model="movie.release_year" ng-show="yearChecked"/>
         
         <br><b><u><a href="" ng-model="ratedChecked" ng-click="ratedChecked=!ratedChecked">Rated:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="ratedChecked">{{movie.rating}}</p>
         <input class="form-control" type="text" ng-model="movie.rating" ng-show="ratedChecked"/>
         
         <br><b><u><a href="" ng-model="runtimeChecked" ng-click="runtimeChecked=!runtimeChecked">Runtime:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="runtimeChecked">{{movie.length}}</p>
         <input class="form-control" type="text" ng-model="movie.length" ng-show="runtimeChecked"/>
         
         <br><b><u><a href="" ng-model="releasedChecked" ng-click="releasedChecked=!releasedChecked">Released:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="releasedChecked">{{movie.release_date}}</p>
         <input class="form-control" type="text" ng-model="movie.release_date" ng-show="releasedChecked"/>
         
         <br><b><u><a href="" ng-model="genreChecked" ng-click="genreChecked=!genreChecked">Genre:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="genreChecked">{{movie.genre}}</p>
         <input class="form-control" type="text" ng-model="movie.genre" ng-show="genreChecked"/>
         
         <br><b><u><a href="" ng-model="directorChecked" ng-click="directorChecked=!directorChecked">Director:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="directorChecked">{{movie.director}}</p>
         <input class="form-control" type="text" ng-model="movie.director" ng-show="directorChecked"/>
         
         <br><b><u><a href="" ng-model="writerChecked" ng-click="writerChecked=!writerChecked">Writer:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="writerChecked">{{movie.writer}}</p>
         <input class="form-control" type="text" ng-model="movie.writer" ng-show="writerChecked"/>
         
         <br><b><u><a href="" ng-model="actorsChecked" ng-click="actorsChecked=!actorsChecked">Actors:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="actorsChecked">{{movie.actors}}</p>
         <input class="form-control" type="text" ng-model="movie.actors" ng-show="actorsChecked"/>
         
         <br><b><u><a href="" ng-model="languageChecked" ng-click="languageChecked=!languageChecked">Language:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="languageChecked">{{movie.language}}</p>
         <input class="form-control" type="text" ng-model="movie.language" ng-show="languageChecked"/>
         
         <br><b><u><a href="" ng-model="countryChecked" ng-click="countryChecked=!countryChecked">Country:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="countryChecked">{{movie.country}}</p>
         <input class="form-control" type="text" ng-model="movie.country" ng-show="countryChecked"/>
         
         <br><b><u><a href="" ng-model="plotChecked" ng-click="plotChecked=!plotChecked">Plot:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="plotChecked">{{movie.description}}</p>
         <textarea rows="4" cols="50" class="form-control" type="text" ng-model="movie.description" ng-show="plotChecked"></textarea>
         
         <br><b><u><a href="" ng-model="awardsChecked" ng-click="awardsChecked=!awardsChecked">Awards:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="awardsChecked">{{movie.awards}}</p>
         <input class="form-control" type="text" ng-model="movie.awards" ng-show="awardsChecked"/>
         
         <br><b><u><a href="" ng-model="imdbidChecked" ng-click="imdbidChecked=!imdbidChecked">IMDB ID:</a></b></u>&nbsp;&nbsp;<a ng-href="{{makeIMDBUrl(movie.imdb_id)}}" target="_blank" ng-hide="imdbidChecked">{{movie.imdb_id}}</a><input type="text" ng-model="imdb_id" ng-show="imdbidChecked"/>
         
         <br><b><u><a href="" ng-model="typeChecked" ng-click="typeChecked=!typeChecked">Type:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="typeChecked">{{movie.type}}</p>
         <input class="form-control" type="text" ng-model="type" ng-show="typeChecked"/>
         
         <br><b><u>FlixID:</b></u>&nbsp;&nbsp;{{movie.product_id}}
         
         <br><b><u>SuggestionID:</b></u>&nbsp;&nbsp;
         <p style="display: inline-block;">{{movie._id}}</p>
         
         <br><b><u><a href="" ng-model="suggestedByChecked" ng-click="suggestedByChecked=!suggestedByChecked">Suggested By:</a></b></u>&nbsp;&nbsp;
         <p style="display: inline-block;" ng-hide="suggestedByChecked">{{movie.suggested_by}}</p>
         <input class="form-control" type="text" ng-model="movieSuggestedBy" ng-show="suggestedByChecked"/>

         <br><b><u><a href="" ng-model="movie_linkChecked" ng-click="movie_linkChecked=!movie_linkChecked">Movie Link:</a></b></u>&nbsp;&nbsp;
         <!--<p style="display: inline-block;" ng-hide="movie_linkChecked">{{movie.movie_link}}</p>-->
         <a ng-href="http://{{movie.movie_link}}" target="_blank" style="display: inline-block;" ng-hide="movie_linkChecked">{{movie.movie_link}}</a>
         <!--<a ng-click="setYouTubeId(movie.movie_link)" style="display: inline-block;" ng-hide="movie_linkChecked">{{movie.movie_link}}</a>-->
         <input type="text" ng-model="movie.movie_link" ng-show="movie_linkChecked"/>

          <br><br>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button"  align="left"
                class="btn btn-danger btn-block"
                ng-click="saveMovie()"
                id="btnFindImages">
                    SAVE
                </button>
            </div>

          <br><br>

          <div class="row" ng-show="newFlix">

              
          <div class="col-lg-19 col-md-9 col-sm-9 col-xs-9">  
              
              <select class="form-control"  ng-model="selectedUpdateType" ng-change="updateSelectedId(selectedUpdateType.id)" ng-options="item.Name for item in updateSuggestionTypes" ng-init="selectedUpdateType=updateSuggestionTypes[0]">
              </select>
               
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <button type="button"  align="left"
                class="btn btn-danger btn-block"
                ng-show="newFlix"
                ng-click="updateSuggestion()"
                id="btnUpdateSuggestion">
                    UPDATE SUGGESTION
                </button>
            </div>


          </div>
   </body>
</html>