<div data-ng-app="app" data-ng-controller="homeCtrl">

    <div>
        <h4 class="visible-xs-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
            <font color="lightgray">FLIX ACADEMY APP STATS</font>
        </h4>
        <h3 class="visible-sm-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
            <font color="lightgray">FLIX ACADEMY APP STATS</font>
        </h3>
        <h2 class="visible-md-block visible-lg-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
            <font color="lightgray">FLIX ACADEMY APP STATS</font>
        </h2>


    </div>


     <div style="overflow:scroll; height:800px;">  
			<div class="row-fluid">

			  <!-- ----------------------------------------------------------------------------------------------------- -->
				
				<div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="profileCount">{{profileCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">USERS COUNTS</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>	

					<!-- SELECT count(profile_id) from profileCount; -->
	
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->

				<div class="span3 statbox greenDark" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="prospectCount">{{prospectCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">PROSPECT COUNT</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(flix_remix_id) AS count remixCount from flix_remix_header-->
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->

				<div class="span3 statbox blue" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="suggestionCount">{{suggestionCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">SUGGESTION COUNTS</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(profile_id) from profile; -->

				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->

				<div class="span3 statbox pinkDark" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="playlistCount">{{playlistCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">PLAYLIST COUNTS</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(profile_id) from profile; -->

				</div>	


			  <!-- ----------------------------------------------------------------------------------------------------- -->
            </div>

            <div class="row-fluid">
				
				<div class="span3 statbox red noMargin" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="approvedMovieCount">{{approvedMovieCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">APPROVED MOVIE COUNT</div>
					<div class="footer">
						<!--<a href="#"> read full report</a>-->
						<a href="/api/json/publish-movie-json.php">UPDATE JSON</a>
					</div>	

					<!-- SELECT count(profile_id) from profileCount; -->
	
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->

				<div class="span3 statbox blueDark" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="unApprovedMovieCount">{{unApprovedMovieCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">UN-APPROVED MOVIE COUNT</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(flix_remix_id) AS count remixCount from flix_remix_header-->
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->
                
                <div class="span3 statbox green" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="remixCount">{{remixCount}}</p><i class="icon-arrow-up"></i></div>
					<div class="title">REMIX COUNTS</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(flix_remix_id) AS count remixCount from flix_remix_header-->
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->

				<div class="span3 statbox orangeDark" onTablet="span6" onDesktop="span3">
					<div class="boxchart"></div>
					<div class="number"><p data-ng-model="gradedMovieCount">$120.00</p><i class="icon-arrow-up"></i></div>
					<div class="title">AFFILIATE SALES</div>
					<div class="footer">
						<a href="#"> read full report</a>
					</div>

					<!-- SELECT count(flix_remix_id) AS count remixCount from flix_remix_header-->
				</div>


			  <!-- ----------------------------------------------------------------------------------------------------- -->
				
			</div>	
      
      <div class="row-fluid">
				
				<div class="span8 widget blue" onTablet="span7" onDesktop="span8">
					
					<div id="stats-chart2"  style="height:282px" ></div>
					
				</div>
				
				<div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">

                    <ul class="unstyled">
                        
                        <li><span class="sparkLineStats3"></span> 
                            Pageviews: 
                            <span class="number">781</span>
                        </li>
                        <li><span class="sparkLineStats4"></span>
                            Pages / Visit: 
                            <span class="number">2,19</span>
                        </li>
                        <li><span class="sparkLineStats5"></span>
                            Avg. Visit Duration: 
                            <span class="number">00:02:58</span>
                        </li>
                        <li><span class="sparkLineStats6"></span>
                            Bounce Rate: <span class="number">59,83%</span>
                        </li>
                        <li><span class="sparkLineStats7"></span>
                            % New Visits: 
                            <span class="number">70,79%</span>
                        </li>
                        <li><span class="sparkLineStats8"></span>
                            % Returning Visitor: 
                            <span class="number">29,21%</span>
                        </li>

                    </ul>
					
					<div class="clearfix"></div>

                </div><!-- End .sparkStats -->

			</div>
      	
     </div>
  </div>