            <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
          <html>
            <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Flix Admin Console</title>
            </head>
            <body>
            <div class="mainContainer" data-ng-app="app" >
              <div data-ng-controller="omdbCtrl" style="overflow:scroll; height:1000px;">


                <br>
                <font color="red" size="4"><p ng-model="movie.Title" align="center"><b><u>{{movieTitle}}</u></b></p></font>
                    <br>

                <div id="image" align="center">
                    <input type="checkbox" ng-model="coverArtChecked" ng-show="0">
                    <br>
                    <img ng-show="coverArtChecked" style='width:150px;height:200px;' data-ng-src="{{coverArt}}">
                </div>
                 <br><br><br>

                  <div data-ng-repeat="movie in movies" ng-if="movie.Title!=null"> 
                    <h1 ng-model="movieTitle" align='center' ng-show="0">{{movie.Title}}</h1>
                    <input type="checkbox" ng-model="titleChecked" ng-show="0">
                    <input type="checkbox" ng-model="yearChecked" ng-show="0">
                    <input type="checkbox" ng-model="ratedChecked" ng-show="0">
                    <input type="checkbox" ng-model="releasedChecked" ng-show="0">
                    <input type="checkbox" ng-model="runtimeChecked" ng-show="0">
                    <input type="checkbox" ng-model="genreChecked" ng-show="0">
                    <input type="checkbox" ng-model="directorChecked" ng-show="0">
                    <input type="checkbox" ng-model="writerChecked" ng-show="0">
                    <input type="checkbox" ng-model="actorsChecked" ng-show="0">
                    <input type="checkbox" ng-model="plotChecked" ng-show="0">
                    <input type="checkbox" ng-model="languageChecked" ng-show="0">
                    <input type="checkbox" ng-model="countryChecked" ng-show="0">
                    <input type="checkbox" ng-model="awardsChecked" ng-show="0">
                    <input type="checkbox" ng-model="posterChecked" ng-show="0">
                    <input type="checkbox" ng-model="metascoreChecked" ng-show="0">
                    <input type="checkbox" ng-model="imdbratingChecked" ng-show="0">
                    <input type="checkbox" ng-model="imdbvotesChecked" ng-show="0">
                    <input type="checkbox" ng-model="imdbidChecked" ng-show="0">
                    <input type="checkbox" ng-model="typeChecked" ng-show="0">
                    <input type="checkbox" ng-model="suggestedByChecked" ng-show="0">

                    <b><u><a href="" ng-model="yearChecked" ng-click="yearChecked=!yearChecked">Year:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="yearChecked">{{movie.Year}}</p><input type="text" ng-model="movie.Year" ng-show="yearChecked"/>
                    
                    &nbsp;&nbsp;<b><u><a href="" ng-model="releasedChecked" ng-click="releasedChecked=!releasedChecked">Released:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="releasedChecked">{{movie.Released}}</p><input type="text" ng-model="movie.Released" ng-show="releasedChecked"/>

                    <br /><b><u><a href="" ng-model="ratedChecked" ng-click="ratedChecked=!ratedChecked">Rated:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="ratedChecked">{{movie.Rated}}</p><input type="text" ng-model="movie.Rated" ng-show="ratedChecked"/>
                    
                    &nbsp;&nbsp;<b><u><a href="" ng-model="runtimeChecked" ng-click="runtimeChecked=!runtimeChecked">Runtime:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="runtimeChecked">{{movie.Runtime}}</p><input type="text" ng-model="movie.Runtime" ng-show="runtimeChecked"/>

                    <br /><b><u><a href="" ng-model="genreChecked" ng-click="genreChecked=!genreChecked">Genre:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="genreChecked">{{movie.Genre}}</p><input type="text" ng-model="movie.Genre" ng-show="genreChecked"/>
                    <br /><b><u><a href="" ng-model="directorChecked" ng-click="directorChecked=!directorChecked">Director:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="directorChecked">{{movie.Director}}</p><input type="text" ng-model="movie.Director" ng-show="directorChecked"/>
                    <br /><b><u><a href="" ng-model="writerChecked" ng-click="writerChecked=!writerChecked">Writer:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="writerChecked">{{movie.Writer}}</p><input type="text" ng-model="movie.Writer" ng-show="writerChecked"/>
                    <br /><b><u><a href="" ng-model="actorsChecked" ng-click="actorsChecked=!actorsChecked">Actors:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="actorsChecked">{{movie.Actors}}</p><input type="text" ng-model="movie.Actors" ng-show="actorsChecked"/>
                    <br /><b><u><a href="" ng-model="languageChecked" ng-click="languageChecked=!languageChecked">Language:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="languageChecked">{{movie.Language}}</p><input type="text" ng-model="movie.Language" ng-show="languageChecked"/>
                    <br /><b><u><a href="" ng-model="countryChecked" ng-click="countryChecked=!countryChecked">Country:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="countryChecked">{{movie.Country}}</p><input type="text" ng-model="movie.Country" ng-show="countryChecked"/>
                    
                    <p ng-model="movie.Plot">{{moviePlot}}</p>
                    <br>


                    <br /><b><u><a href="" ng-model="plotChecked" ng-click="plotChecked=!plotChecked">Plot:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="plotChecked">{{movie.Plot}}</p><input type="text" ng-model="movie.Plot" ng-show="plotChecked"/>

                    <br /><b><u><a href="" ng-model="awardsChecked" ng-click="awardsChecked=!awardsChecked">Awards:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="awardsChecked">{{movie.Awards}}</p><input type="text" ng-model="movie.Awards" ng-show="awardsChecked"/>
                    <!-- <br /><b><u><a href="" ng-model="posterChecked" ng-click="posterChecked=!posterChecked">Poster:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="posterChecked">{{movie.Poster}}</p><input type="text" ng-model="movie.Poster" ng-show="posterChecked"/> -->
                    <br /><b><u>Metascore:</b></u>&nbsp;&nbsp;{{movie.Metascore}}
                    <br /><b><u>IMDB Rating:</b></u>&nbsp;&nbsp;{{movie.imdbRating}}
                    <br /><b><u>IMDB Votes:</b></u>&nbsp;&nbsp;{{movie.imdbVotes}}
                    <br /><b><u><a href="" ng-model="imdbidChecked" ng-click="imdbidChecked=!imdbidChecked">IMDB ID:</a></b></u>&nbsp;&nbsp;<a ng-href="{{makeIMDBUrl(movie.imdbID)}}" target="_blank" ng-hide="imdbidChecked">{{movie.imdbID}}</a><input type="text" ng-model="movie.imdbID" ng-show="imdbidChecked"/><!-- ng-click="load_iFrame(movie.imdbID)" -->
                    <br /><b><u><a href="" ng-model="typeChecked" ng-click="typeChecked=!typeChecked">Type:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="typeChecked">{{movie.Type}}</p><input type="text" ng-model="movie.Type" ng-show="typeChecked"/>
                    <br /><b><u>FlixID:</b></u>&nbsp;&nbsp;{{movie.flix_id}}
                    <br /><b><u>SuggestionID:</b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-model="movieSuggestionID">{{movie.suggestion_id}}</p> 
                    <br /><b><u><a href="" ng-model="suggestedByChecked" ng-click="suggestedByChecked=!suggestedByChecked">Suggested By:</a></b></u>&nbsp;&nbsp;<p style="display: inline-block;" ng-hide="suggestedByChecked">{{movie.SuggestedBy}}</p><input type="text" ng-model="movie.SuggestedBy" ng-show="suggestedByChecked"/>

                    <br /><br />
                    <p align='center'><b><u>TOMATO RESULTS</u></b></p>

                    <b><u>Tomato Meter:</b></u>&nbsp;&nbsp;{{movie.tomatoMeter}}
                    <b><u>Tomato Image:</b></u>&nbsp;&nbsp;{{movie.tomatoImage}}
                    <b><u>Tomato Reviews:</b></u>&nbsp;&nbsp;{{movie.tomatoReviews}}
                    <br /><b><u>Tomato Fresh:</b></u>&nbsp;&nbsp;{{movie.tomatoFresh}}
                    &nbsp;&nbsp;<b><u>Tomato Rotten:</b></u>&nbsp;&nbsp;{{movie.tomatoRotten}}
                    <b><u>Tomato Meter:</b></u>&nbsp;&nbsp;{{movie.tomatoUserMeter}}
                    <!--&nbsp;&nbsp;<b><u>Tomato UserRating:</b></u>&nbsp;&nbsp;{{movie.tomatoUserRating}}-->
                    <br /><br /><b><u>Tomato Consensus:</b></u>&nbsp;&nbsp;{{movie.tomatoConsensus}}

<br /><br /><br />

                                  <div id="buttonBar" align="center">
                <button ng-click="saveToFlix(movie)">SAVE/UPDATE</button>
              </div>
                <br>

        </div>
            </div>
            </div>
        </div>


                  </div>


              </div>
                  </div>


              </div>
            </body>
            </html>