  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Flix Admin Console</title>
  </head>
  <body>
  <!-- main container -->
  <div id="container">
  <div data-ng-controller="tmdbCtrl">
                
      <br>
                <input type="text" style="top-margin:30px;width:25%;" data-ng-model="search">
                <div id="buttons" style="display:inline-block;width:70%;">
                    <button ng-click="getCustomData(search)" style="display:inline-block;width:48%">SEARCH</button>
                    <button ng-click="getData()" style="display: inline-block;width:48%">SEARCH LOADED</button>
                </div>  
                   
                <br>
      
        <HR COLOR="red" SIZE="3">
      
            <div style="overflow:scroll; height:800px;">

                    <div style="width:550px" data-ng-repeat="tmdb in tmdbs">
                        
                        <b><p>{{tmdb.title}}</p></b>
                        
                        <div style="float:left;">
                            <img ng-model="coverArt" ng-click="sendImage('http://image.tmdb.org/t/p/w500' + tmdb.poster_path)"
                             style='width:150px;height:200px;vertical-align:center;margin-right:15px;' 
                             data-ng-src="http://image.tmdb.org/t/p/w500{{tmdb.poster_path}}">
                        </div>
                        
                        <div style="display:inline-block;width:300px">
                            <b><u><a href="" ng-click="sendRuntime(runtime)">runtime:</a></b></u>
                                &nbsp;&nbsp;<p style="display:inline-block;" data-ng-model = "runtime">{{runtime}}</p>
                            <br>                        
                            <b><u><a href="" ng-click="send_IMDB(imdb_id)">imdb_id:</a></b></u>
                                    &nbsp;&nbsp;<p style="display: inline-block;">{{imdb_id}}</p>
                            <br>
                            <b><u><a href="" ng-click="sendReleaseDate(release_date)">release_date:</a></b></u>
                                    &nbsp;&nbsp;<p style="display: inline-block;">{{release_date}}</p>
                            <br>
                            <b><u><a href="" ng-click="sendContent(overview)">Description:</a></b></u>
                                    &nbsp;&nbsp;<p data-ng-model = "overview" style="display: inline-block;">{{overview}}</p>                        
                            <br />   
                        </div>
                        
                        
                        <div style="clear: both;"></div>
                        
                        
                            <HR COLOR="black" SIZE="3">
                        
                    </div>
      

                </div>
        </div>
  </div>
  </body>
  </html>