<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="app">
  <head>

  <title>Flix Admin Console</title>
  </head>
  <body>
  <!-- main container -->
  <div id="container">
      
      
<!--
    <div id="buttons">
      <label> <input id="query" value='cats' type="text"/><button id="search-button" disabled onclick="search()">Search</button></label>
    </div>
    <div id="search-container">
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="auth.js"></script>
    <script src="search.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
-->
      
      
      
      
  <div data-ng-controller="youTubeCtrl" style="overflow:scroll; height:800px;">
                
                <br>
                <button ng-click="getData()" align="center" style="width:100%;">GET DATA</button>
                   
                <br>
                <br>

                    <div style="width:550px" data-ng-repeat="google in googles">

                        <img ng-model="coverArt" style='width:150px;height:200px;vertical-align:center;margin-right:15px;' data-ng-src="{{google.url}}" style="float:left;">


                        <a ng-href="{{google.originalContextUrl}}" target="_blank">Link</a>
                        <br /><br>

                        <div id="buttons" style="display: inline-block;">
                          <button ng-click="sendImage(google.url)"  align="center">USE IMAGE</button> 
                          <button ng-click="sendContent(amazon.editorialreview)"  align="center">USE CONTENT</button> 
                        </div>   

                        <br><br>
                        <p>{{google.titleNoFormatting}}</p>                        
                        <br />
                        
                        <div style="width:550px" data-ng-repeat="page in pages">
                            <p style="display: inline;" data-ng-click="">{{page.subject_name}}</p>
                         </div>   
                        
                        
                        <hr />
                  
                    </div>
                </div>

  </div>
  </body>
  </html>